* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: "Heebo", sans-serif;
}
.container {
  width: 60%;
  margin: 0 auto;
}

/* HEADER */
#header {
  padding: 25px 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  a {
    font-size: 24px;
    font-weight: 600;
    color: black;
  }
  h1 {
    display: none;
  }
}
/* HEADER */

/* HERO */
#hero {
  padding: 60px 0;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-content {
  h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
    color: black;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 23.5px;
    margin: 30px 0;
  }
  button {
    font-size: 20px;
    font-weight: 500;
    color: white;
    background: rgba(255, 100, 100, 1);
    border: none;
    padding: 14px 40px;
    border-radius: 5px;
  }
}
/* HERO */

/* POST */
#post {
  background: rgba(237, 247, 250, 1);
  padding: 60px 0;
}
.post-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  h2 {
    font-size: 22px;
    font-weight: 400;
  }
  h4 {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 168, 204, 1);
  }
}
.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post-block {
  width: 400px;
  height: 315px;
  background: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 10px 0 0 20px;

  h1 {
    font-size: 26px;
    font-weight: 700;
    line-height: 38.19px;
    color: rgba(33, 36, 61, 1);
  }
  h3 {
    font-size: 18px;
    font-weight: 400;
    color: rgba(33, 36, 61, 1);
    margin: 30px 0;
    span {
      margin: 0 15px;
    }
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 23.5px;
    color: rgba(33, 36, 61, 1);
  }
}
/* POST */

/* WORK */
#work {
  padding: 50px 0;
}
.work-title {
  font-size: 22px;
  font-weight: 400;
  color: rgba(33, 36, 61, 1);
  margin-bottom: 50px;
}
.work-block {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.631);
  margin-bottom: 30px;
}
.work-content {
  color: rgba(33, 36, 61, 1);
  h1 {
    font-size: 30px;
    font-weight: 700;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 23.5px;
  }
}
.work-year {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 20px 0;
  h4 {
    font-size: 18px;
    font-weight: 900;
    color: white;
    background: rgba(33, 36, 61, 1);
    width: 60px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
  }
  h5 {
    font-size: 20px;
    font-weight: 400;
    color: rgba(134, 149, 164, 1);
  }
}
/* WORK */

/* FOOTER */
#footer {
  padding: 50px 0;
}
.footer-icons {
  display: flex;
  align-items: center;
  gap: 40px;
  a {
    font-size: 35px;
    color: rgba(33, 36, 61, 1);
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  h2 {
    font-size: 17px;
    font-weight: 400;
    color: rgba(33, 36, 61, 1);
  }
}
/* FOOTER */

/* MEDIA */
@media (max-width: 1400px) {
  .container {
    width: 65%;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 75%;
  }
}

@media (max-width: 1100px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .post-block {
    width: 365px;
  }
  .work-content {
    p {
      font-size: 15px;
    }
  }
}

@media (max-width: 800px) {
  .hero-content {
    h1 {
      font-size: 35px;
      line-height: 50px;
    }
    p {
      font-size: 13px;
      margin: 20px 0;
    }
    button {
      font-size: 16px;
      padding: 12px 30px;
    }
  }
  .post-block {
    width: 310px;
    height: 240px;
    h1 {
      font-size: 19px;
      line-height: 27.19px;
    }
    p {
      font-size: 13px;
      line-height: 21.5px;
    }
    h3 {
      font-size: 16px;
      margin: 20px 0;
    }
  }
  .work-block {
    img {
      width: 30%;
    }
  }
  .work-content {
    p {
      font-size: 12px;
      line-height: 20.5px;
    }
  }
  .work-year {
    margin: 10px 0;
  }
}

@media (max-width: 700px) {
  .hero-content {
    p {
      font-size: 11px;
      margin: 18px 0;
    }
  }
  .post-block {
    width: 280px;
  }
  .work-year {
    margin: 0;
  }
  #footer {
    padding: 30px 0;
  }
  #work {
    padding: 50px 0 0 0;
  }
}

@media (max-width: 600px) {
  .hero {
    flex-direction: column-reverse;
  }
  .hero-content {
    text-align: center;
    margin-top: 30px;
  }
  .post {
    flex-direction: column;
  }
  .post-block {
    width: 70%;
    height: 340px;
    margin-bottom: 30px;
    h1 {
      font-size: 25px;
      line-height: 35.19px;
    }
    h3 {
      font-size: 18px;
      margin: 30px 0;
    }
    p {
      font-size: 16px;
      line-height: 31.5px;
    }
  }
  .work-block {
    img {
      width: 25%;
    }
  }
  .work-content {
    h1 {
      font-size: 20px;
      font-weight: 700;
    }
    p {
      font-size: 10px;
      line-height: 17.5px;
    }
  }
  .work-year {
    h4 {
      font-size: 15px;
      width: 53px;
      height: 22px;
    }
    h5 {
      font-size: 15px;
    }
  }
}

@media (max-width: 545px) {
  .hero-content {
    button {
      font-size: 15px;
      padding: 10px 20px;
    }
  }
  .header {
    a {
      display: none;
    }
    h1 {
      display: block;
    }
  }
  #hero {
    padding: 0 0 30px 0;
  }
  .post-block {
    width: 90%;
  }
  .work-block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 50%;
    }
  }
  .work-content {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    h1 {
      font-size: 27px;
    }
  }
}

@media (max-width: 450px) {
  .hero {
    img {
      width: 50%;
    }
  }
  .hero-content {
    h1 {
      font-size: 30px;
      line-height: 40px;
    }
  }
  .post-block {
    height: 265px;
    p {
      font-size: 13px;
      line-height: 23.5px;
    }
    h3 {
      font-size: 16px;
      margin: 22px 0;
    }
    h1 {
      font-size: 22px;
      line-height: 30.19px;
    }
  }
  .work-block {
    img {
      width: 60%;
    }
  }
}

@media (max-width: 388px) {
  .work-content {
    p {
      font-size: 9px;
      line-height: 17.5px;
    }
  }
  .hero-content {
    p {
      font-size: 10px;
      margin: 18px 0;
    }
  }
  .post-block {
    h1 {
      font-size: 20px;
      line-height: 25.19px;
    }
    p {
      font-size: 12px;
      line-height: 21.5px;
    }
  }
}
/* MEDIA */
